body {
  background: darkslategray;
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
}



.block {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 25vw;
  
}

.titlebox, .desc, .create, .notes {
  width: 200px;
  margin: 20px;
}

label {
  display: inline-block;
  width: 150px;
  padding: 22px;
}

.radioBox {
  width: 400px;
  display: flex;
  align-items: center;
  margin: 20px;
  border: 3px solid black;
  border-radius: 20px;
}

.radio {
  width: 100px;
  margin: 5px;
}

.radLabel {
  display: flex;

}

#tiles {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.post {
  margin: 20px;
  text-align: center;
  border: 2px solid black;
  width: 250px;
  height: 250px;
  background-color: blanchedalmond;
}

.openBox {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: center;
  gap: 200px;
  margin-top: 20px;
}

#content {
  display: flex;
  flex-direction: column;
}

.confirmBtn {
  width: 100px;
  margin: 20px;
}

.sticky {
  margin: 60px;
  width: 35vw;
}

.boxOne, .boxTwo, .boxThree {
  width: 100px;
}

.back {
  margin: 20px;
}

h2 {
  margin: 10px;
}

.projectHead {
  text-align: center;
  margin: 20px;
  border: 2px solid black;
  background: blanchedalmond;
  height: 50px;
  width: 110px;
}

.noteCreate {
  margin-left: 30px;
  text-align: center;
}