body {
  background: darkcyan;
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
}

.block {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 30vw;
}

.titlebox, .desc, .create, .selectBox {
  width: 200px;
  margin: 20px;
}

label {
  display: inline-block;
  width: 150px;
  padding: 22px;
}

.radioBox {
  width: 400px;
  display: flex;
  align-items: center;
  margin: 20px;
  border: 3px solid black;
  border-radius: 20px;
}

.radio {
  width: 100px;
  margin: 5px;
}

.radLabel {
  display: flex;
}

#tiles {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 15px;
  border: 2px solid black;
  border-radius: 10px;
  background:blanchedalmond;
  min-height: 220px;
  height: auto;
  width: 200px;
}

.noteDesc {
  overflow-wrap: break-word;
  text-align: center;
  width: 200px;
  text-wrap: wrap;
}

.openBox {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: center;
  gap: 200px;
  margin-top: 20px;
}

#content {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}

.confirmBtn {
  width: 100px;
  margin: 20px;
  border-radius: 15px;
}

.openHead {
  text-align: center;
  margin-bottom: 50px;
  font-size: 300%;
}

.sticky {
  margin: 60px;
  width: 35vw;
}

.boxOne, .boxTwo, .boxThree {
  width: 200px;
}

.oneBtn, .twoBtn, .threeBtn {
  height: 50px;
  width: 200px;
  border-radius: 15px;
}

.back {
  height: 35px;
  margin: 20px;
  border-radius: 15px;
}

.backBox {
  margin-left: 20px;
  align-self: flex-start;
}

h2 {
  margin: 10px;
}

.projectHead {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-right: 2px solid black;
  background: darkgrey;
  min-height: 300px;
  width: 260px;
  gap: 20px;
  padding: 20px;

  align-self: stretch;
  height: auto;
}

.noteDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;
  align-content: flex-start;
  align-items: flex-start;
}

.project {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
  align-items: flex-start;
}

.noteCreate {
  margin-left: 30px;
  text-align: center;
}

.deleteBtn {
  align-self: center;
  height: 35px;
  width: 150px;
  border-radius: 15px;
  border-radius: 15px;
  margin-top: 0;
  background: #e05555;
  color: white;
  border: none;
  cursor: pointer;
}

.deleteNote {
  align-self: center;
  height: 35px;
  width: 150px;
  border-radius: 15px;
  margin-top: 15px;
  background: #e05555;
  color: white;
  border: none;
  cursor: pointer;
}

.noteDate {
  font-size: smaller;

}

.projectRadio {
  margin: 0;
  font-weight: lighter;
  font-size: small;
}

.notes {
  height: 100px;
  padding: 3px;
  width: 250px;
  margin: 20px;
}

#notesTwo {
  height: 200px;
  width: 300px;
}

:focus {
  outline: none;
}