body {
  background: darkcyan;
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
}



.block {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 25vw;
}

.titlebox, .desc, .create, .notes, .selectBox {
  width: 200px;
  margin: 20px;
}

label {
  display: inline-block;
  width: 150px;
  padding: 22px;
}

.radioBox {
  width: 400px;
  display: flex;
  align-items: center;
  margin: 20px;
  border: 3px solid black;
  border-radius: 20px;
}

.radio {
  width: 100px;
  margin: 5px;
}

.radLabel {
  display: flex;

}

#tiles {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: 2px solid black;
  background:blanchedalmond;
  height: 300px;
  width: 300px;
}

.noteDesc {
  text-align: center;
  width: 300px;
}

.openBox {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: center;
  gap: 200px;
  margin-top: 20px;
}

#content {
  display: flex;
  flex-direction: column;
}

.confirmBtn {
  width: 100px;
  margin: 20px;
  border-radius: 15px;
}

.openHead {
  text-align: center;
  margin-bottom: 80px;
}

.sticky {
  margin: 60px;
  width: 35vw;
}

.boxOne, .boxTwo, .boxThree {
  width: 200px;
}

.oneBtn, .twoBtn, .threeBtn {
  height: 50px;
  width: 200px;
  border-radius: 15px;
}

.back {
  height: 35px;
  margin: 20px;
  border-radius: 15px;
}

h2 {
  margin: 10px;
}

.projectHead {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: 2px solid black;
  background:lightblue;
  height: 300px;
  width: 300px;
  gap: 30px;
}

.noteCreate {
  margin-left: 30px;
  text-align: center;
}

.deleteBtn {
  align-self: center;
  height: 30px;
  width: 180px;
  border-radius: 15px;
}

.deleteNote {
  align-self: center;
  width: 180px;
  height: 40px;
  border-radius: 15px;
  margin-top: 90px;
}

.projectRadio, .projectDesc {
  margin: 0;
}

.notes {
  height: 100px;
  padding: 0;
}